/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-weight: 600;
}
html,
body {
  font-family: 'Nanum Gothic', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  color: #F4F4F4;
}
h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
}
@media (max-width: 500px) {
  h2 {
    font-size: 5vw;
    text-align: center;
  }
}
h4 {
  font-size: 2vw;
}
h5 {
  font-size: 1.5vw;
}
a {
  font-family: 'Nanum Gothic', sans-serif;
  color: #F4F4F4;
  font-size: 1vw;
}
p {
  font-family: 'Nanum Gothic', sans-serif;
  color: #F4F4F4;
  line-height: 1.5;
  font-size: 2vw;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  p {
    padding-bottom: 0;
    font-size: 3vw;
    text-align: center;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.bigContainer {
  width: 100%;
  margin: 0 auto;
}
.homeHeader {
  background: rgba(0, 0, 0, 0.5);
  background-image: url(../images/headerBGImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 95vh;
  padding: 1% 0 0;
  margin: 0;
}
@media (max-width: 500px), (max-width: 800px), (max-width: 1000px) {
  .homeHeader {
    height: auto;
  }
}
.homeHeader .navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px), (max-width: 800px) {
  .homeHeader .navDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .homeHeader .navDiv {
    padding: 0;
    margin: 3% 0;
  }
}
.homeHeader .navDiv a {
  padding: 0;
  margin: 0 3%;
}
@media (max-width: 500px) {
  .homeHeader .navDiv a {
    padding: 0;
    margin: 3% 0 2% 0;
  }
}
.homeHeader .navDiv .navDivTwo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}
@media (max-width: 800px) {
  .homeHeader .navDiv .navDivTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .homeHeader .navDiv .navDivTwo {
    width: 90%;
  }
}
.homeHeader .navDiv .navDivTwo button {
  padding: 0;
  margin: 0 3%;
}
@media (max-width: 800px) {
  .homeHeader .navDiv .navDivTwo button {
    padding: 0;
    margin: 3% 0;
  }
}
.homeHeader .navDiv .navDivTwo nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homeHeader .navDiv .navDivTwo nav a {
  padding: 0 10%;
  margin: 0;
  text-decoration: none;
}
@media (max-width: 800px) {
  .homeHeader .navDiv .navDivTwo nav a {
    font-size: 1.5vw;
    text-align: center;
    padding: 0;
    margin: 10% 0 5% 0;
  }
}
@media (max-width: 1000px) {
  .homeHeader .navDiv .navDivTwo nav a {
    font-size: 1.5vw;
  }
}
@media (max-width: 500px) {
  .homeHeader .navDiv .navDivTwo {
    display: none;
  }
}
.homeHeader .headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10% 0 0 0;
}
@media (max-width: 500px) {
  .homeHeader .headerContent {
    padding: 0 0 10% 0;
    margin: 5% 0 0 0;
  }
}
@media (max-width: 800px) {
  .homeHeader .headerContent {
    padding: 0 0 3% 0;
    margin: 0;
  }
  .homeHeader .headerContent h1 {
    padding: 0;
    margin: 0;
  }
}
.homeHeader.aboutUs {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-image: url(../images/aboutUsHeaderImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 800px) {
  .homeHeader.aboutUs .navDivTwo {
    display: none;
  }
}
.homeHeader.aboutUs p {
  max-width: 50%;
  text-align: center;
}
@media (max-width: 800px) {
  .homeHeader.aboutUs p {
    max-width: 75%;
  }
}
@media (max-width: 500px) {
  .homeHeader.aboutUs {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-image: url(../images/longAboutUsImg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media (max-width: 800px) {
  .homeHeader.aboutUs {
    background-size: auto;
  }
}
footer {
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5));
  background-image: url(../images/footerImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1% 0 0;
  margin: 0;
}
@media (max-width: 500px) {
  footer {
    background-size: auto;
  }
}
footer img {
  transform: scale(1.5);
}
@media (max-width: 500px) {
  footer img {
    transform: scale(1);
  }
}
footer .footerStylingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 0;
}
.theButton {
  border-radius: 5px;
  background: #38A1DE;
  color: #F4F4F4;
  height: 44px;
  width: 448px;
}
.theButton:hover {
  background: #F4F4F4;
  color: #38A1DE;
}
.separatingDivs {
  height: 5vh;
  background-color: #F4F4F4;
}
@media (max-width: 500px) {
  .separatingDivs {
    height: 2.5vh;
  }
}
.sections {
  height: 55vh;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px), (max-width: 800px) {
  .sections {
    height: auto;
  }
}
@media (max-width: 500px), (max-width: 800px) {
  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.sections .imagesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2%;
  margin: 2%;
  max-width: 55%;
}
@media (max-width: 1000px) {
  .sections .imagesDiv {
    max-width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
.sections .imagesDiv .secondImg {
  padding: 0;
  margin: 0 5%;
}
@media (max-width: 500px), (max-width: 1000px) {
  .sections .imagesDiv .secondImg {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 800px) {
  .sections .imagesDiv .secondImg {
    padding: 0;
    margin: 0 0 0 5%;
  }
}
@media (max-width: 500px), (max-width: 800px) {
  .sections .imagesDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 5% 0 0 0;
    max-width: 60%;
  }
}
.sections .contentDiv {
  max-width: 40%;
  padding: 0;
  margin: 0 10%;
}
@media (max-width: 500px), (max-width: 800px) {
  .sections .contentDiv {
    padding: 0;
    margin: 5% 0;
    max-width: 80%;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .sections .contentDiv {
    padding: 0;
    margin: 0;
    max-width: 30%;
  }
}
@media (max-width: 500px), (max-width: 800px) {
  .sectionTwo {
    flex-direction: column-reverse;
  }
}
.infoBoxes {
  background-color: #F4F4F4;
  color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .infoBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
  }
}
.infoBoxes .teamBox {
  background: #FDFAFA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 15%;
  padding: 0;
  margin: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoBoxes .teamBox img {
  border-radius: 3px;
}
.infoBoxes .teamBox h4,
.infoBoxes .teamBox h5 {
  color: #222222;
  padding: 0;
  margin: 3% 0;
  text-align: center;
}
@media (max-width: 500px) {
  .infoBoxes .teamBox {
    width: 70%;
  }
  .infoBoxes .teamBox h4 {
    font-size: 5vw;
  }
  .infoBoxes .teamBox h5 {
    font-size: 3.5vw;
  }
}
@media (max-width: 800px) {
  .infoBoxes .teamBox {
    width: 35%;
  }
}
