.infoBoxes{
    background-color: @textColor;
    color: @backgroundColor;
    .flexLayout(row, space-evenly, center);
    flex-wrap: wrap;

    //mobile query
    @media @mobile {
        .flexLayout(column, center, space-evenly)
    }

    .teamBox{
        background: #FDFAFA;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08); 
        border-radius : 5px;
        width: 15%;
        .padMarg(0, 3% 5%);
        // border: 1px solid black;
        .flexLayout(column, center, center);
        img{
            border-radius: 3px;
        }

        h4, h5{
            color: @backgroundColor;
            .padMarg(0, 3% 0);
            text-align: center;
        }

        @media@mobile{
            width: 70%;
            h4{
                font-size: 5vw;
            }
            h5{
                font-size: 3.5vw;
            }
        }
    }
}