footer{
    //background styles
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5));
    background-image: url(../images/footerImg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    @media@mobile{
        background-size: auto;
    }
    

    img{
        transform: scale(1.5);
        @media@mobile{
            transform: scale(1);
        }
    }

    //general styles for the footer section
    .padMarg(1% 0 0, 0);
    .footerStylingDiv{
        .flexLayout(column, center, center);
        .padMarg(5%, 0);
        // height: 50vh;
    }//closes styling div 
}//closes footer