//button styling here
.theButton{
    border-radius: 5px;
    background: @buttonColor;
    color: @textColor;
    height: 44px;
    width: 448px;

    &:hover{
        background: @textColor;
        color: @buttonColor;
    }
    
}