.homeHeader{
//background styles
    background: rgba(0, 0, 0, 0.5);
    background-image: url(../images/headerBGImg.png);
    background-repeat: no-repeat;
    background-size: 100%;

//general styles for the header/nav section
    height: 95vh;
    @media@mobile{
        height: auto;
    }
    .padMarg(1% 0 0, 0); 


    //nav styles
    .navDiv{
        .flexLayout(row, space-between, center);

        @media@mobile{
            .flexLayout(column,center,center);
        }
        
        //capture logo styling
        a{
            .padMarg(0, 0 3%);
            //mediaqueryformobilelogo
            @media@mobile{
                .padMarg(0, 3% 0 2% 0);
            }
        }
       
        .navDivTwo{
            .flexLayout(row, flex-end, center);
            
            width: 60%;
            button{
                .padMarg(0, 0 3%);
            }

            nav{
                width: 30%;
               .flexLayout(row, space-between, center); 
               a{
                   .padMarg(0 10%, 0);
                   text-decoration: none;
               }//closes a
            }//closes nav
            @media@mobile{
                display: none;
            }
            
        }//closes navDivTwo

        
    }//closes navDiv

//headerContent Styles
    .headerContent{
        .flexLayout(column, center, center);
        .padMarg(0, 10% 0 0 0);
        @media @mobile{
            .padMarg(0 0 10% 0, 5% 0 0 0);
        }
    }//closes headerContent
}//closes homeHeader


//aboutUs specific styles
.homeHeader.aboutUs{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-image: url(../images/aboutUsHeaderImg.png);
    background-repeat: no-repeat;
    background-size: 100%;


    p{
        max-width: 50%;
        text-align: center;
    }
    //mediaqueryforbackground
    @media @mobile{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-image: url(../images/longAboutUsImg.png);
    background-repeat: no-repeat;
    background-size: 100%;  
    }

    
}